.filter-design {
	width: 17%;
}
.filter-category {
	text-transform: capitalize;
}
.bg-blue-500 {
	background-color: #83eacb !important;
}
.bg-blue-600 {
	background-color: #81e9cb !important;
}
@media(max-width:1024px) {
	.filter-design {
	width: 25%;

}
}
@media(max-width:767px) {
	.filter-design {
	width: 100%;

}
}